body {
  margin: 25px;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(226, 226, 226);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
